body{
    margin:0;
    font-family:Arial, sans-serif;

    background: linear-gradient(
    135deg,
    #ffd6e8,
    #ffc0cb,
    #f8c8dc,
    #ffe4f2
    );

    min-height:100vh;
    overflow-x:hidden;
}

.hero{
    text-align:center;
    padding:100px 20px;

    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(12px);

    width:80%;
    max-width:800px;

    margin:60px auto;
    border-radius:30px;

    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

h1{
    font-size:60px;
    color:white;
}

p{
    color:white;
    font-size:20px;
    line-height:1.8;
}

button{
    margin-top:20px;
    padding:15px 35px;
    border:none;
    border-radius:50px;

    background:white;
    color:#ff69b4;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
}

.quote{
    color:white;
    margin-top:30px;
    font-style:italic;
}

.features{
    width:90%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;

    padding-bottom:80px;
}

.card{
    background:rgba(255,255,255,0.3);
    backdrop-filter:blur(10px);

    border-radius:25px;
    padding:25px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,0.08);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    color:white;
}

.card p{
    font-size:16px;
}

.floating{
    position:absolute;
    font-size:40px;
    animation:float 5s infinite ease-in-out;
}

.two{
    top:120px;
    left:80%;
}

.three{
    top:250px;
    left:10%;
}

.four{
    top:500px;
    left:85%;
}

.five{
    top:650px;
    left:15%;
}

@keyframes float{
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }
}
