*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
  border:10px solid red;
min-height:100vh;
color:white;

background:
radial-gradient(circle at 20% 20%, rgba(255,215,0,0.12), transparent 35%),
radial-gradient(circle at 80% 30%, rgba(255,120,80,0.10), transparent 40%),
radial-gradient(circle at 50% 80%, rgba(120,80,255,0.08), transparent 40%),
linear-gradient(135deg,#090909,#141414,#1a1224);

overflow-x:hidden;

}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 60px;
}

nav h2{
color:#f6c56f;
font-size:2rem;
font-weight:700;
}

.links a{
color:white;
text-decoration:none;
margin-left:30px;
transition:0.3s;
}

.links a:hover{
color:#f6c56f;
}

.hero{
min-height:85vh;
display:flex;
justify-content:center;
align-items:center;
padding:40px;
position:relative;
}

.hero::before{
content:"CINE";
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);

font-size:180px;
font-weight:900;
letter-spacing:25px;

color:rgba(255,215,0,0.05);

pointer-events:none;

}

.hero-text{
max-width:850px;
text-align:center;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.1);

border-radius:35px;
padding:60px;

position:relative;
z-index:2;

box-shadow:0 0 50px rgba(246,197,111,0.15);

}

.hero-text h1{
font-size:4.2rem;
line-height:1.2;
color:#f6c56f;
margin-bottom:25px;
}

.hero-text p{
color:#d8d8d8;
font-size:1.2rem;
line-height:1.8;
margin-bottom:30px;
}

.hero-text button{
background:linear-gradient(135deg,#f6c56f,#ff9f43);

border:none;
color:#111;

padding:15px 35px;
border-radius:50px;

font-size:1rem;
font-weight:bold;

cursor:pointer;
transition:0.3s;

}

.hero-text button:hover{
transform:translateY(-3px);
box-shadow:0 10px 25px rgba(246,197,111,0.4);
}

.features{
padding:80px 50px;
}

.features h2{
text-align:center;
color:#f6c56f;
margin-bottom:50px;
font-size:2.5rem;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:rgba(255,255,255,0.06);
backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.08);

padding:30px;
border-radius:25px;

transition:0.3s;

}

.card:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(246,197,111,0.15);
}

.card h3{
color:#f6c56f;
margin-bottom:15px;
}

.card p{
color:#d8d8d8;
line-height:1.6;
}

footer{
text-align:center;
padding:40px;
color:#999;
}
